@import "https://stijndv.com/fonts/Eudoxus-Sans.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.eudoxus-sans-bold {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


:root {
    --app-header: var(--wh-color-bg-main);
    --app-footer: var(--wh-color-bg-main);
    --actual-primary-color: 114, 135, 253;
    --actual-secondary-color: 234, 153, 156;
    --75-alpha: 0.75;
    --50-alpha: 0.5;
    --25-alpha: 0.25;
    --10-alpha: 0.1;
    --5-alpha: 0.05;

    --wh-color-bg-main: rgb(239, 241, 245);
    --wh-color-text-main: rgb(76, 79, 105);
    --wh-color-secundary: rgb(230, 69, 83);

    --primary-color-75: rgba(var(--actual-primary-color), var(--75-alpha));
    --primary-color-50: rgba(var(--actual-primary-color), var(--50-alpha));
    --primary-color-25: rgba(var(--actual-primary-color), var(--25-alpha));
    --primary-color-10: rgba(var(--actual-primary-color), var(--10-alpha));
    --primary-color-5: rgba(var(--actual-primary-color), var(--5-alpha));

    --secondary-color-75: rgba(var(--actual-secondary-color), var(--75-alpha));
    --secondary-color-50: rgba(var(--actual-secondary-color), var(--50-alpha));
    --secondary-color-25: rgba(var(--actual-secondary-color), var(--25-alpha));
    --secondary-color-10: rgba(var(--actual-secondary-color), var(--10-alpha));
    --secondary-color-5: rgba(var(--actual-secondary-color), var(--5-alpha));
}

:root.theme-dark {
    --app-header: var(--wh-color-bg-main);
    --app-footer: var(--wh-color-bg-main);
    --actual-primary-color: 114, 135, 253;
    --actual-secondary-color: 230, 69, 83;
    --75-alpha: 0.75;
    --50-alpha: 0.5;
    --25-alpha: 0.25;
    --10-alpha: 0.1;
    --5-alpha: 0.05;

    --wh-color-bg-main: rgb(48, 52, 70);
    --wh-color-text-main: rgb(76, 79, 105);
    --wh-color-secundary: rgb(230, 69, 83);
    --wh-code-block-bg: rgb(65, 69, 89);

    --primary-color-75: rgba(var(--actual-primary-color), var(--75-alpha));
    --primary-color-50: rgba(var(--actual-primary-color), var(--50-alpha));
    --primary-color-25: rgba(var(--actual-primary-color), var(--25-alpha));
    --primary-color-10: rgba(var(--actual-primary-color), var(--10-alpha));
    --primary-color-5: rgba(var(--actual-primary-color), var(--5-alpha));

    --secondary-color-75: rgba(var(--actual-secondary-color), var(--75-alpha));
    --secondary-color-50: rgba(var(--actual-secondary-color), var(--50-alpha));
    --secondary-color-25: rgba(var(--actual-secondary-color), var(--25-alpha));
    --secondary-color-10: rgba(var(--actual-secondary-color), var(--10-alpha));
    --secondary-color-5: rgba(var(--actual-secondary-color), var(--5-alpha));

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--actual-secondary-color) var(--wh-color-bg-main);
    scrollbar-gutter: stable;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5em;
    scrollbar-gutter: stable;

}

*::-webkit-scrollbar-track {
    background: var(--wh-color-bg-main);
}

/* Color del thumb en el tema claro */
*::-webkit-scrollbar-thumb {
    background-color: rgb(var(--actual-secondary-color));
    border-radius: 0.5em;
    border: 1px transparent;
}

/* Color del thumb en el tema oscuro */
:root.theme-dark ::-webkit-scrollbar-thumb {
    background-color: rgb(234, 153, 156);
}

.code-block {
    scrollbar-width: auto;
    scrollbar-color: auto;
    scrollbar-gutter: stable;
    mask-image: none;
    background: rgb(220, 224, 232);
}

.code-block--dark {
    scrollbar-width: auto;
    scrollbar-color: auto;
    scrollbar-gutter: stable;
    mask-image: none;
    background: var(--wh-code-block-bg);
}

.code-block::-webkit-scrollbar {
    width: 0.5em;
    scrollbar-gutter: stable;
}

.code-block::-webkit-scrollbar-track {
    background: var(--wh-color-text-main);
}
.code-block::-webkit-scrollbar-track {
    background: var(--wh-color-text-main);
}

.code-block::-webkit-scrollbar-thumb {
    background-color: rgb(var(--actual-primary-color));
    color: rgb(var(--actual-secondary-color));
    border-radius: 0.5em;
    border: 1px transparent;
}

:root.theme-dark .code {
    background: var(--wh-code-block-bg);
    color: rgb(181, 191, 226);
}


/* starting page card */
.starting-page-card {
    border-radius: 0.5em;
    border: 1px solid var(--primary-color-25);
    background-size: 50px 50px;
    background-image: radial-gradient(circle, var(--primary-color-25) 1px, var(--wh-color-bg-main) 1px);
}

.starting-page-card:hover, .starting-page-title__card:hover {
    border: 1px solid var(--wh-color-primary);
    animation: cardpulse 2s infinite !important;
    mask-image: none;
}

.see-also__card {
    border-radius: 0.5em;
    border: 1px solid var(--primary-color-25);
    border-bottom-color: var(--primary-color-25) !important; /* YOU. YOU FUCKER. */
    mask-border: unset;
    mask-image: unset;
}

.see-also__card:hover {
    border: 1px solid var(--wh-color-primary);
    border-bottom-color: var(--wh-color-primary) !important; /* YOU. YOU FUCKER. */
    animation: cardpulse 2s infinite !important;
    mask-image: none;
}

@keyframes cardpulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 var(--wh-color-primary);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* Search and Theme Switcher */
._modeClear_joawza_434._dark_joawza_62 {
    color: var(--secondary-color-75);
}

._modeClear_joawza_434._dark_joawza_62:hover {
    color: rgb(230, 69, 83);
}

:root.theme-dark ._modeClear_joawza_434._dark_joawza_62 {
    color: var(--secondary-color-75);
}

:root.theme-dark ._modeClear_joawza_434._dark_joawza_62:hover {
    color: rgb(234, 153, 156);
}

/* Header light colors */
.wh-header {
    color: var(--wh-color-primary);
}

/* Header dark colors */
:root.theme-dark .wh-header {
    color: var(--wh-color-primary);
}

/* ToC */
.app__sidebar {
    border-right: 1px transparent;
}

/* selected/hovered in ToC */

/* This selector edit the selected topic colors and behavior for light theme */
.toc-item--selected.toc-item--theme-light {
    border-top-right-radius: 0.0em;
    border-bottom-right-radius: 0.0em;
    font-weight:bold;
    color: rgb(114, 135, 253);
}

/* This selector edit the selected topic colors and behavior for dark theme */
.toc-item--selected.toc-item--theme-dark {
    border-top-right-radius: 0.0em;
    border-bottom-right-radius: 0.0em;
    font-weight:bold;
    color: rgb(186, 187, 241);
}
/* This selector edit the selected hover topic colors and behavior for dark theme */
.toc-item--selected.toc-item--theme-dark:hover {
    border-top-right-radius: 0.0em;
    border-bottom-right-radius: 0.0em;
    font-weight:bold;
    color: rgb(244, 184, 228);
    background-color: rgb(35, 38, 52);
}

.toc-item--highlighted:first-child:last-child {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
}

.toc-item--selected:hover, .toc-item--theme-light:hover {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    background-color: rgb(220, 224, 232);
    color: rgb(234, 118, 203);
    }

.toc-item--theme-dark:hover{
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    background-color: rgb(65, 69, 89);
    color: rgb(244, 184, 228);
}
/*.toc-item--selected:hover{
    background-color: rgb(35, 38, 52);
    color: rgb(234, 118, 203);
}*/

/*.toc-item--highlighted:hover {
    color:rgb(244, 184, 228);
}*/

.toc--theme-dark {
    background: rgb(48, 52, 70);
}

.toc-item--highlighted.toc-item--theme-dark {
    background: rgb(41, 44, 60);
    font-weight:bold;

}

.toc-item--highlighted.toc-item--theme-dark:hover {
    background: rgb(41, 44, 60);
    font-weight:bold;

}

.toc-item--highlighted.toc-item--theme-light {
    background: rgb(230, 233, 239);
    font-weight:bold;
}

.toc-item--theme-light:hover{
    color:rgb(234, 118, 203);
}


.toc--theme-light {
    background: rgb(239, 241, 245);
    color: rgb(108, 111, 133);
}

/* tab for right side small ToC list */
.toc-node--selected:after {

}

/* Background highlight in Topics pages for secondary sections */
.section-starting-page-content__section--highlighted {
    background-color: var(--primary-color-10);
    border-radius: 0.5em;
}

/* weird bar right at the end of secondary in topics and top of footer, aka where the footer nav links are ig */
.navigation-links {
    border-top: 1px transparent;

}

/* label and title backdrop roudning and gradient adjustment */
.title__backdrop {
    background-image: linear-gradient(180deg, var(--primary-color-25), transparent 50%);
    border-radius: 0.5em 0.5em 0.5em 0;
}

.label__content {
    border-radius: 1em 1em 1em 1em;
}

._tab_1fcqo6x_13 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    overflow: unset; /* WE RAN INTO A CHROMIUM BUG AND WORKED AROUND THIS STUPID FUCKER */
}

/* hover card when hovering over links with information */
._card_1uu62mp_6 {
    border-radius: 0.5em;
    border-color: var(--primary-color-75);
}

/* Footer */
.app__footer {
    background-color: var(--primary-color-10);
    border-radius: 0.5em 0.5em 0.5em 0;
}

/* footer links bullshit down to the last rs-text-3 thingy */
.footer {
    --app-link-color-dark: rgb(234, 118, 203);
    --app-link-border-color-dark: rgb(234, 118, 203);
    color: var(--wh-color-primary);
}
/* stop being so fucking picky holy shit */
.rs-text-3_theme_dark {
    color: var(--wh-color-primary);
}

.rs-text-3_theme_dark.rs-text-3_hardness_hard {
    color: var(--wh-color-primary);
}

/* all Definition blocks in things like the Commands pages and Config pages */
.definition-list__group {
    border-radius: 0.5em;
    background-color: var(--primary-color-5);
    border: 1px solid var(--primary-color-25);
}

/* prodedures */
.procedure-steps {
    border-radius: 0.5em;
    border: 1px solid var(--primary-color-25);
}

/* video player */
.video-player.article__bordered-element.child { /* this took me 15m to figure out the fuckin class. */
    border-radius: 0.5em;
    border: 1px transparent;
}

/* tldr block */
.micro-format__content {
    animation: tldrpulse 2s infinite;
}

@keyframes tldrpulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* warning adminition */
.prompt__wrapper--type-warning {
    animation: warningadmonitionpulse 2s infinite;
}

@keyframes warningadmonitionpulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 var(--rs-color-danger);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* notes admonition */
.prompt__wrapper--type-note {
    animation: noteadmonitionpulse 2s infinite;
}

@keyframes noteadmonitionpulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 var(--rs-color-success);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.prompt__wrapper--type-tip {
    animation: tipadmonitionpulse 2s infinite;
}

@keyframes tipadmonitionpulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 var(--wh-color-tip);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.article__figure .article__img {
    border-radius: 0.5em;
}

.article__p {
    font-family: "Poppins", sans-serif;

}

p {
    color: rgb(76, 79, 105); /* Color del texto en el tema claro */
}

:root.theme-dark p {
    color: rgb(198, 208, 245); /* Color del texto en el tema oscuro */
}


.toc-item {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: normal;


}

/*Edits H selectors*/
.title__content {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bolder;
    /*color: rgb(114, 135, 253);*/
}

:root.theme-dark .article__h1 {
    color: rgb(186, 187, 241);
}

:root.theme-dark .article__h2 {
    color: rgb(244, 184, 228);
}

:root.theme-dark .article__h3 {
    color: rgb(129, 200, 190);
}

:root.theme-dark .article__h4 {
    color: rgb(229, 200, 144);
}

:root.theme-dark .article__h5 {
    color: rgb(234, 153, 156);
}

:root.theme-dark .article__h6 {
    color: rgb(239, 159, 118);
}

.article__h1 {
    color: rgb(114, 135, 253);
}

.article__h2 {
    color: rgb(234, 118, 203);
}

.article__h3 {
    color: rgb(23, 146, 153);
}

.article__h4 {
    color: rgb(223, 142, 29);
}

.article__h5 {
    color: rgb(230, 69, 83);
}

.article__h6 {
    color: rgb(254, 100, 11);
}

.rs-h1 {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bolder;

}

.rs-h2 {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;

}

.rs-h3 {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;
}

.rs-subtitle-2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.rs-text-2 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;

}

.rs-text-3 {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;
}

/*Navigation links on light theme*/
.navigation-links__next {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;
    color: rgb(234, 118, 203);
}

.navigation-links__prev {
    font-family: "Eudoxus Sans", sans-serif;
    font-weight: bold;
    color: rgb(234, 118, 203);
}

/*Navigation links on dark theme*/
:root.theme-dark .navigation-links__prev,
:root.theme-dark .navigation-links__next {
    color: rgb(244, 184, 228); /* Color de los enlaces en el tema oscuro */
}

/*Code hihglight for light theme*/
.prism--token.prism--cdata,
.prism--token.prism--comment,
.prism--token.prism--doctype,
.prism--token.prism--prolog {
    color: rgb(92, 95, 119);
}
.prism--token.prism--punctuation {
    color: #999;
}
.prism--token.prism--namespace {
    opacity: 0.7;
}
.prism--token.prism--boolean,
.prism--token.prism--constant,
.prism--token.prism--deleted,
.prism--token.prism--number,
.prism--token.prism--property,
.prism--token.prism--symbol,
.prism--token.prism--tag {
    color: rgb(254, 100, 11);
}
.prism--token.prism--attr-name,
.prism--token.prism--builtin,
.prism--token.prism--char,
.prism--token.prism--inserted,
.prism--token.prism--selector,
.prism--token.prism--string {
    color: rgb(64, 160, 43);
}
.language-css .prism--token.prism--string,
.prism--token.prism--entity,
.prism--token.prism--operator,
.prism--token.prism--url,
.style .prism--token.prism--string {
    color: rgb(223, 142, 29);
}
.prism--token.prism--atrule,
.prism--token.prism--attr-value,
.prism--token.prism--keyword {
    color: rgb(4, 165, 229);
}
.prism--token.prism--function {
    color: rgb(136, 57, 239);
}
.prism--token.prism--class-name {
    color: rgb(30, 102, 245);
}
.prism--token.prism--important,
.prism--token.prism--variable,
.prism--token.regex {
    color: rgb(230, 69, 83);
}
.prism--token.prism--bold,
.prism--token.prism--important {
    font-weight: 700;
}
.prism--token.prism--italic {
    font-style: italic;
}
.prism--token.prism--entity {
    cursor: help;
}

/*Code hihglight for dark theme*/
    :root.theme-dark .prism--token.prism--cdata,
    :root.theme-dark .prism--token.prism--comment,
    :root.theme-dark .prism--token.prism--doctype,
    :root.theme-dark .prism--token.prism--prolog {
        color: rgb(181, 191, 226);
    }
    :root.theme-dark .prism--token.prism--punctuation {
        color: rgb(181, 191, 226);
    }
    :root.theme-dark .prism--token.prism--namespace {
        opacity: 0.7;
    }
    :root.theme-dark .prism--token.prism--boolean,
    :root.theme-dark .prism--token.prism--constant,
    :root.theme-dark .prism--token.prism--deleted,
    :root.theme-dark .prism--token.prism--number,
    :root.theme-dark .prism--token.prism--property,
    :root.theme-dark .prism--token.prism--symbol,
    :root.theme-dark .prism--token.prism--tag {
        color: rgb(239, 159, 118);
    }
:root.theme-dark .prism--token.prism--attr-name,
:root.theme-dark .prism--token.prism--builtin,
:root.theme-dark .prism--token.prism--char,
:root.theme-dark .prism--token.prism--inserted,
:root.theme-dark .prism--token.prism--selector,
:root.theme-dark .prism--token.prism--string {
        color: rgb(166, 209, 137);
    }
    :root.theme-dark .language-css .prism--token.prism--string,
    :root.theme-dark .prism--token.prism--entity,
    :root.theme-dark.prism--token.prism--operator,
    :root.theme-dark .prism--token.prism--url,
    :root.theme-dark .style .prism--token.prism--string {
        color: rgb(229, 200, 144);
    }
    :root.theme-dark .prism--token.prism--atrule,
    :root.theme-dark .prism--token.prism--attr-value,
    :root.theme-dark .prism--token.prism--keyword {
        color: rgb(153, 209, 219);
    }
    :root.theme-dark .prism--token.prism--function {
        color: rgb(202, 158, 230);
    }
    :root.theme-dark .prism--token.prism--class-name {
        color: rgb(140, 170, 238);
    }
    :root.theme-dark .prism--token.prism--important,
    :root.theme-dark .prism--token.prism--variable,
    :root.theme-dark .prism--token.regex {
        color: rgb(234, 153, 156);
    }
:root.theme-dark .prism--token.prism--bold,
:root.theme-dark .prism--token.prism--important {
        font-weight: 700;
    }
:root.theme-dark .prism--token.prism--italic {
        font-style: italic;
    }
:root.theme-dark .prism--token.prism--entity {
        cursor: help;
    }